/* style.css */

body, html {
    height: 100%;
    margin: 0;
}

.user_img {
    width: 50px;
    height: 50px;
}

.user_img_msg {
    width: 40px;
    height: 40px;
}

.img_cont_msg {
    position: relative;
    width: 40px;
}

.img_cont_msg img {
    border-radius: 50%;
    width: 100%;
}

.card-header {
    padding: 8px 16px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.card-footer {
    padding: 10px 16px;
    background-color: #f0f0f0;
}

.msg_head {
    padding: 8px 16px;
}

.msg_card_body {
    overflow-y: auto;
    max-height: 300px;
}

.type_msg {
    background-color: #f0f0f0;
    border: none;
    padding-left: 10px;
    height: 40px;
    width: 90%;
}

.send_btn {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.msg_cotainer {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.msg_cotainer_send {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
}

.msg_time {
    margin-left: 6px;
    font-size: 10px;
}

.msg_time_send {
    margin-left: 6px;
    font-size: 10px;
    color: white;
}
